APP_NAME=Application
VERSION=1.0.0 
ENV=dev # production|dev
SERVER_PORT=8080

REDIS_ADDR=host.docker.internal
REDIS_NAMESPACE=namespace
REDIS_PASSWORD=

MONGO_URI=mongodb+srv://usr_nanogo:nanogo@host.docker.internal/nanogo
MONGO_DBNAME=nanogo

RABBITMQ_HOST=host.docker.internal
RABBITMQ_PASSWORD=nanogo
RABBITMQ_USER=nanogo
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/